{% extends "linkanalytics/email/base.html" %}

{% block title %}Email: Compose{% endblock %}

{% block content %}
  <h2>Compose Email</h2>
  {% if form %}
    {% if emailid %}
      <form action="/linkanalytics/email/compose/{{ emailid }}/" method="post" class="stdform">
    {% else %}
      <form action="/linkanalytics/email/compose/" method="post" class="stdform">
    {% endif %}
      <table>
        {% csrf_token %}
        {{ form }}
        <tr>
        <td><input type="submit" name="do_send" value="Send" /></td>
        <td><input type="submit" name="do_save" value="Save" /></td>
        </tr>
      </table>
    </form>
  {% else %}
    <p>This application is broken somehow...</p>
  {% endif %}
{% endblock %}
