{% extends "linkanalytics/email/base.html" %}

{% block title %}Email: Drafts{% endblock %}

{% block content %}
  <h2>Email Drafts</h2>
  <table class='datatable'>
    <tr>
      <th>Subject</th>
      <th>Recipients</th>
    </tr>
    {% for item in drafts %}
    <tr>
      <td>
        <a href="{% url linkanalytics.email.views.composeEmail emailid=item.pk %}">{{item.subject}}</a>
      </td>
      <td>{{item.pending_recipients.count}}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
