{% extends "linkanalytics/email/base.html" %}

{% block title %}Email: Recipients{% endblock %}

{% block content %}
  <h2>Email Recipients</h2>
  <table class='datatable'>
    <tr>
      <th colspan="2">Recipient</th>
      <th>Notified</th>
      <th>First Access</th>
      <th>Most Recent Access</th>
      <th>Accesses</th>
    </tr>
    
    {% for item in items %}
    <tr>
      <td>{{ item.visitor.username }}</td>
      <td>{{ item.visitor.emailaddress }}</td>
      <td>{{ item.instance.notified }}</td>
      <td>{{ item.instance.first_access }}</td>
      <td>{{ item.instance.recent_access }}</td>
      <td>{{ item.instance.access_count }}</td>
    </tr>
    {% endfor %}
    
  </table>
{% endblock %}