{% extends "linkanalytics/email/base.html" %}

{% block title %}Email: Read by{% endblock %}

{% block content %}
  <h2>Email Read by</h2>
  <table class='datatable'>
    <tr>
      <th>Recipient</th>
      <th>Notified</th>
      <th>First Access</th>
      <th>Most Recent Access</th>
      <th>Accesses</th>
    </tr>
    
    {% for item in items %}
    <tr>
      <td>{{ item.visitor.emailaddress }}</td>
      <td>{{ item.instance.notified }}</td>
      <td>{{ item.instance.first_access }}</td>
      <td>{{ item.instance.recent_access }}</td>
      <td>{{ item.instance.access_count }}</td>
    </tr>
    {% endfor %}
    
  </table>
{% endblock %}